{{#if loggedIn}}
<section>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Meeting Name: {{meeting.mtg_name}}</h4>
            <h6 class="card-subtitle text-muted">Title: {{meeting.title}}</h6>
            <h6 class="card-subtitle text-muted">Office: {{meeting.off_id}}</h6>
        </div>
    </div>
</section>
{{else}}
<a href="/login">You must login in order to search this criteria!</a>
{{/if}}