<!-- side navigation start -->
    <div id="sideNav" class="side-nav" onclick="closeNav()">
      <img class="logo logo-nav" src="../assets/images/usgs_logo.png" alt="USGS logo white">
          <ul>
              <li>
                  <img class="nav-icon" src="../assets/images/new-submission-icon.png">NEW SUBMISSION</li>
              <li>
                  <img class="nav-icon" src="../assets/images/weekly-icon.png">WEEKLY REPORT</li>
              <li>
                  <img class="nav-icon" src="../assets/images/congress-icon.png">CONGRESS</li>
              <li>
                  <img class="nav-icon" src="../assets/images/media-icon.png">MEDIA</li>
              <li>
                  <img class="nav-icon" src="../assets/images/meeting-icon.png">MEETINGS</li>
              <li>
                  <img class="nav-icon" src="../assets/images/publish-icon.png">PUBLICATIONS</li>
              <li>
                  <img class="nav-icon" src="../assets/images/ftr-icon.png">FOR THE RECORD</li>
              <li>
                  <img class="nav-icon" src="../assets/images/search-icon.png">SEARCH</li>
          </ul>
  
          <!-- <button class="button-1" id="logOut" role="button">SUBMIT</button> -->
  </div>
  
  <img src="../assets/images/favpng_arrow-button-icon.png" 
      alt="Menu expand"
      class="side-arrow"
      id="expandArrow"
      onclick="openNav()"
  />