<!-- side navigation start -->
    <div id="sideNav" class="side-nav">
      <img class="logo logo-nav" src="../assets/images/usgs_logo.png" alt="USGS logo white">
          <ul>
              <li>
                  <img class="nav-icon" src="../assets/images/new-submission-icon.png">NEW SUBMISSION</li>
              <li>
                  <img class="nav-icon" id="weeklyReport" src="../assets/images/weekly-icon.png">WEEKLY REPORT</li>
              <li>
                  <img class="nav-icon" id="congress-report" src="../assets/images/congress-icon.png">CONGRESS</li>
              <li>
                  <img class="nav-icon" id="media-report" src="../assets/images/media-icon.png">MEDIA</li>
              <li>
                  <img class="nav-icon" id="meeting-report" src="../assets/images/meeting-icon.png">MEETINGS</li>
              <li>
                  <img class="nav-icon" id="publication-report" src="../assets/images/publish-icon.png">PUBLICATIONS</li>
              <li>
                  <img class="nav-icon" id="record-report" src="../assets/images/ftr-icon.png">FOR THE RECORD</li>
              <li>
                  <img class="nav-icon" src="../assets/images/search-icon.png">SEARCH</li>
          </ul>
  
<<<<<<< HEAD
          <button class="button-1" id="logOut" role="button">LOGOUT</button>
=======
          <button class="button-1" id="logOut" role="button">LOGOUT</button> 
>>>>>>> e15e649831e45832ac8db6c0c58c7a46c21fe533
  </div>
  
  <img src="../assets/images/open-nav-icon.png" 
      alt="Menu expand"
      class="side-arrow"
      id="expandArrow"
      onclick="navMove()"
  />