<!-- side navigation start -->
    <div id="sideNav" class="side-nav">
      <img class="logo logo-nav" src="../assets/images/usgs_logo.png" alt="USGS logo white">
          <ul>
              <li>
                  <img class="nav-icon" src="../assets/images/new-submission-icon.png">NEW SUBMISSION</li>
              <li id="weeklyreport">
                  <img class="nav-icon" src="../assets/images/weekly-icon.png">WEEKLY REPORT</li>
              <li id="congress-report"> 
                  <img class="nav-icon" src="../assets/images/congress-icon.png">CONGRESS</li>
              <li id="media-report">
                  <img class="nav-icon" src="../assets/images/media-icon.png">MEDIA</li>
              <li id="meeting-report">
                  <img class="nav-icon" src="../assets/images/meeting-icon.png">MEETINGS</li>
              <li id="publication-report">
                  <img class="nav-icon" src="../assets/images/publish-icon.png">PUBLICATIONS</li>
              <li id="record-report">
                  <img class="nav-icon" src="../assets/images/ftr-icon.png">FOR THE RECORD</li>
              <li>
                  <img class="nav-icon" src="../assets/images/search-icon.png">SEARCH</li>
          </ul>
  
          <button class="button-1" id="logOut" role="button">LOGOUT</button> 
  </div>
  
  <img src="../assets/images/open-nav-icon.png" 
      alt="Menu expand"
      class="side-arrow"
      id="expandArrow"
      onclick="navMove()"
  />