<!-- side navigation start -->
    <div id="sideNav" class="side-nav" onclick="closeNav()">
      <img class="logo logo-nav" src="../assets/images/usgs_logo.png" alt="USGS logo white">
          <ul>
              <li>WEEKLY REPORT</li>
              <li>CONGRESS</li>
              <li>MEDIA</li>
              <li>MEETINGS</li>
              <li>PUBLICATIONS</li>
              <li>FOR THE RECORD</li>
              <li>SEARCH</li>
          </ul>
  
          <!-- <button class="button-1" id="logOut" role="button">SUBMIT</button> -->
  </div>
  
  <img src="../assets/images/favpng_arrow-button-icon.png" 
      alt="Menu expand"
      class="side-arrow"
      id="expandArrow"
      onclick="openNav()"
  />