{{#if loggedIn}}
<section>
    <div class="page-header">
        <h1>Publications</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Article Title</th>
                <th scope="col">Author</th>
                <th scope="col">Contributors</th>
                <th scope="col">Publication</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each publications as |publication|}}
                {{>pubRowPart}}
            {{/each}}
        </tbody>
    </table>
</section>

{{else}}
<a href="/login">You must login first to view this information.</a>
{{/if}}
