{{>navigation}}

<div id="rightMain" class="dash-main">
    
    <div class="user-icon">
    <img src="../assets/images/user-icon.png" class="user-icon"/>
    </div>

    <div class="user-welcome">
    <h2 class="welcome">WELCOME BACK {{user.first_name}} {{user.last_name}}</h2>
    </div>


    <div class="dashboard-buttons">
        <button class="button-3" id="weekly-report" role="button">WEEKLY REPORT</button>

        <button class="button-3" id="submit" role="button">SUBMIT</button>

    </div>
</div>

<script src="../js/logout.js"></script>
<script src="../js/weekly-report.js"></script>
<<<<<<< HEAD
=======

>>>>>>> 54fec24d2c42fa9a9bfb097d9f17137a5850a286
<script>
    document.getElementById('submit').addEventListener('click', function() {
    document.location.replace('/form');
})
</script>
<<<<<<< HEAD
=======

<script src="../js/navbar.js"></script>

>>>>>>> 54fec24d2c42fa9a9bfb097d9f17137a5850a286
