<div id="sideNav" class="side-nav" onclick="closeNav()">
    <img class="logo" src="../assets/images/usgs_logo.png" alt="USGS logo white">
        <ul>
            <li>WEEKLY REPORT</li>
            <li>ACHIEVEMENTS</li>
            <li>CONGRESS</li>
            <li>MEDIA</li>
            <li>MEETINGS</li>
            <li>PUBLICATIONS</li>
            <li>SEARCH</li>
        </ul>

        <button class="button-1" id="logOut" role="button">LOGOUT</button>
</div>

<img src="../assets/images/favpng_arrow-button-icon.png" 
    alt="Menu expand"
    class="side-arrow"
    id="expandArrow"
    onclick="openNav()"
/>

<div id="rightMain" class="right-main">
    
    <img src="../assets/images/user-icon.png" class="user-icon"/>

    <h2 class="welcome">WELCOME BACK {{user.first_name}} {{user.last_name}}</h2>

    <div class="dashboard-buttons">
        <button class="button-3" id="weeklyReport" role="button">WEEKLY REPORT</button>

        <button class="button-3" id="submitAchievement" role="button">SUBMISSIONS</button>

    </div>
</div>

<script src="../js/logout.js"></script>
