{{>navigation}}

<div id="rightMain" class="dash-main">
    
    <div class="user-icon">
    <img src="../assets/images/user-icon.png" class="user-icon"/>
    </div>

    <div class="user-welcome">
    <h2 class="welcome">WELCOME BACK {{user.first_name}} {{user.last_name}}</h2>
    </div>


    <div class="dashboard-buttons">
        <button class="button-3" id="weeklyReport" role="button">WEEKLY REPORT</button>

        <button class="button-3" id="submitAchievement" role="button">SUBMIT</button>

    </div>
</div>

<script src="../js/logout.js"></script>
<script src="../js/weekly-report.js"></script>
<<<<<<< HEAD
<script>
    document.getElementById('submitAchievement').addEventListener('click', function() {
    document.location.replace('/form');
})
</script>
=======
<script src="../js/navbar.js"></script>

>>>>>>> e15e649831e45832ac8db6c0c58c7a46c21fe533
