<div id="rightMain" class="dash-main-report">
{{!-- navigation will go here --}}

<div class="right-buttons2 nav-pills">
        <a href="../dashboard" class="nav-link" id="dashboard-link">
        <img src="../assets/images/user-icon.png" alt="usgs logo" class="user-icon-small">
        </a>
</div>

{{>navigation}}

  
    <div class="form-container">
    <!-- ACHIEVEMENTS part of form -->
    <div id="form" class="form-body">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        
        <!-- CONGRESS part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            > 
            <img class="nav-icon" src="../assets/images/congress-icon-g.png">
              CONGRESS
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse show"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="rep-committee"
                ></textarea>
                <label for="floatingTextarea"
                  >Representative or Committee:</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="congress-desc"
                ></textarea>
                <label for="floatingTextarea"
                  >Description of meeting:</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="congress-name"
                ></textarea>
                <label for="floatingTextarea">Name:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="congress-email"
                ></textarea>
                <label for="floatingTextarea"
                  >Email:</label
                >
              </div>

              <div class="form-floating">
                {{!-- <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="congress-office"
                ></textarea> --}}

                <form>  
                  <label> Office: </label>  
                  <select id="congress-office">  
                  </select>  
                </form>

                {{!-- <label for="floatingTextarea">Office (use id# for now; will be a dropdown)</label> --}}
              </div>

              <button class="button-2" id="submitCongress" role="button">SUBMIT</button>

            </div>
          </div>
        </div>


        <!-- MEDIA part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
            <img class="nav-icon" src="../assets/images/media-icon-g.png">
              MEDIA
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="media-interaction"
                ></textarea>
                <label for="floatingTextarea">What was the media interaction?:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="media-outlet"
                ></textarea>
                <label for="floatingTextarea">Media Outlet:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="media-desc"
                ></textarea>
                <label for="floatingTextarea">Description:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="media-emp-name"
                ></textarea>
                <label for="floatingTextarea">Name:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="media-emp-email"
                ></textarea>
                <label for="floatingTextarea">Email:</label>
              </div>

              <div class="form-floating">
                {{!-- <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="media-office"
                ></textarea>
                <label for="floatingTextarea">Office (use id# for now; will be a dropdown):</label> --}}

                <form>  
                  <label> Office: </label>  
                  <select id="media-office">  
                  </select>  
                </form>
                
              </div>                                                      

              <button class="button-2" id="submitMedia" role="button">SUBMIT</button>

            </div>
          </div>
        </div>


        <!-- MEETINGS part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            > <img class="nav-icon" src="../assets/images/meeting-icon-g.png">
              MEETINGS/ACHIEVEMENTS
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="mtg-ach"
                ></textarea>
                <label for="floatingTextarea"
                  >Meeting or Achievement:</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="mtg-desc"
                ></textarea>
                <label for="floatingTextarea">Description:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="mtg-name"
                ></textarea>
                <label for="floatingTextarea">Name:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="mtg-email"
                ></textarea>
                <label for="mtg-email">Email:</label>
              </div>   

              <div class="form-floating">
                {{!-- <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="mtg-office"
                ></textarea>
                <label for="mtg-email">Office (use id# for now; will be a dropdown):</label> --}}

                <form>  
                  <label> Office: </label>  
                  <select id="mtg-office">  
                  </select>  
                </form>

              </div>                             

              <button class="button-2" id="submitMeetings" role="button">SUBMIT</button>

            </div>
          </div>
        </div>

        <!-- PUBLICATIONS part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
            <img class="nav-icon" src="../assets/images/publish-icon-g.png">
              PUBLICATIONS
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <form class="form publication-form">

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pub-name"
                  ></textarea>
                  <label for="floatingTextarea"
                    >Publication:</label
                  >
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pub-title"
                  ></textarea>
                  <label for="floatingTextarea">Article Title:</label>
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pub-desc"
                  ></textarea>
                  <label for="floatingTextarea">Description:</label>
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pub-emp-name"
                  ></textarea>
                  <label for="floatingTextarea"
                    >Name:</label
                  >
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pub-emp-email"
                  ></textarea>
                  <label for="floatingTextarea">Email:</label>
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pub-authors"
                  ></textarea>
                  <label for="floatingTextarea"
                    >Authors</label
                  >
                </div>

                <div class="form-floating">
                  {{!-- <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pub-office"
                  ></textarea>
                  <label for="floatingTextarea">Office (use id# for now; will be a dropdown):</label> --}}

                <form>  
                  <label> Office: </label>  
                  <select id="pub-office">  
                  </select>  
                </form>

                </div>                

                <button class="button-2" id="submitPublications" role="button">SUBMIT</button>

          </div>
        </div>
      </div>

       <!-- FOR THE RECORD part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
            <img class="nav-icon" src="../assets/images/ftr-icon-g.png">
              FOR THE RECORD
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="ftr-note"
                ></textarea>
                <label for="floatingTextarea"
                  >Title: </label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="ftr-desc"
                ></textarea>
                <label for="floatingTextarea">Description:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="ftr-emp-name"
                ></textarea>
                <label for="floatingTextarea">Name:</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="ftr-emp-email"
                ></textarea>
                <label for="floatingTextarea">Email:</label>
              </div>

              <div class="form-floating">
                {{!-- <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="ftr-office"
                ></textarea>
                <label for="floatingTextarea">Office (use id# for now; will be a dropdown):</label> --}}

                <form>  
                  <label> Office: </label>  
                  <select id="ftr-office">  
                  </select>  
                </form>

              </div>                            

              <button class="button-2" id="submitFTR" role="button">SUBMIT</button>

            </div>
          </div>
        </div>


    </div>
</div>
</div>
</div>


<script src="../js/fetch.js"></script>
<script src="../js/form.js"></script>
<script src="../js/officeMenu.js"></script>