<!-- side navigation start -->
    <div id="sideNav" class="side-nav" onclick="closeNav()">
      <img class="logo" src="../assets/images/usgs_logo.png" alt="USGS logo white">
          <ul>
              <li>WEEKLY REPORT</li>
              <li>ACHIEVEMENTS</li>
              <li>CONGRESS</li>
              <li>MEDIA</li>
              <li>MEETINGS</li>
              <li>PUBLICATIONS</li>
              <li>SEARCH</li>
          </ul>
  
          <!-- <button class="button-1" id="logOut" role="button">SUBMIT</button> -->
  </div>
  
  <img src="../assets/images/favpng_arrow-button-icon.png" 
      alt="Menu expand"
      class="side-arrow"
      id="expandArrow"
      onclick="openNav()"
  />

  <div id="rightMain" class="right-main">
    
    <!-- ACHIEVEMENTS part of form -->
    <div id="form" class="form-body">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              ACHIEVEMENTS
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea"
                  >Date of Achievement, Will be a datepicker</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea">Achievement</label>
              </div>

              <button class="button-2" id="submitAchievement" role="button">SUBMIT</button>

            </div>
          </div>
        </div>

        <!-- CONGRESS part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              CONGRESS
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea"
                  >Meeting date (will be date picker)</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea"
                  >List any representatives or the commitee you met with</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea">List what was discussed</label>
              </div>

              <!-- <p">OTHER USGS CONTRIBUTORS:</p> -->
    

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea"
                  >USGS Contributer First Name</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea">USGS Contributer Last Name</label>
              </div>

              <button class="button-2" id="submitCongress" role="button">SUBMIT</button>

            </div>
          </div>
        </div>


        <!-- MEDIA part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              MEDIA
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea">What was the media outet</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea">Topic of media interaction</label>
              </div>

              <button class="button-2" id="submitMedia" role="button">SUBMIT</button>

            </div>
          </div>
        </div>


        <!-- MEETINGS part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              MEETINGS
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea"
                  >Meeting date (will be date picker)</label
                >
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea">Meeting details</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
                <label for="floatingTextarea"
                  >If you are presenting, list details</label
                >
              </div>

              <button class="button-2" id="submitMeetings" role="button">SUBMIT</button>

            </div>
          </div>
        </div>


        <!-- PUBLICATIONS part of form -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              PUBLICATIONS
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <form class="form publication-form">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pubDate"
                  ></textarea>
                  <label for="floatingTextarea"
                    >Date of Publication, Will be a datepicker</label
                  >
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="title"
                  ></textarea>
                  <label for="floatingTextarea">Article Title</label>
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="pubName"
                  ></textarea>
                  <label for="floatingTextarea">Publication Name</label>
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="authName"
                  ></textarea>
                  <label for="floatingTextarea"
                    >Author Name</label
                  >
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="contributor"
                  ></textarea>
                  <label for="floatingTextarea"
                    >Contributer Name</label
                  >
                </div>

                <button class="button-2" id="submitPublications" role="button">SUBMIT</button>

          </div>
        </div>
      </div>
    </div>
</div>
</div>

<script src="./js/fetch.js"></script>
<script src="./js/form.js"></script>