<div class="row">
  <div class="col-md-6">
    <h2>Regional Highlights</h2>

    <form class="form publication-form">

      <div class="form-group">
        <label for="article-title">Article Title:</label>
        <input class="form-input" type="text" id="title" />
      </div>

      <div class="form-group">
        <label for="publication-name">Publication Name:</label>
        <input class="form-input" type="text" id="pub-name" />
      </div>

      <div class="form-group">
        <label for="publication-date">Publication Date:</label>
        {{!-- needs to be a date picker --}}
        <input class="form-input" type="text" id="pub-date" />
      </div>

      <div class="form-group">
        <label for="contributor-usgs">USGS employee contributors:</label>
        <input class="form-input" type="text" id="emp-contributors" />
      </div>

       <div class="form-group">
        <label for="contributor-usgs-fname">USGS employee first name:</label>
        <input class="form-input" type="text" id="emp-contributors" />
      </div>

      <div class="form-group">
        <label for="contributor-usgs-lname">USGS employee last name:</label>
        <input class="form-input" type="text" id="emp-contributors" />
      </div>

      <div class="form-group">
        <label for="contributor-any">Other contributors(non-USGS):</label>
        <input class="form-input" type="text" id="contributors-any" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">submit</button>
      </div>
    </form>
  </div>
  
</div>

<script src="./js/login.js"></script>
