 <video playsinline autoplay muted loop poster="" id="bgvid">
    <source src="../assets/images/homepage-video.mp4" type="video/mp4">
  </video>

<div class="view">

  <header class="homepage-logo">
    <img class="logo" src="../assets/images/usgs_logo.png" alt="USGS logo white">
    <button class="button-24" role="button">LOGIN</button>
  </header>

<<<<<<< HEAD
<img src="../assets/images/favpng_arrow-button-icon.png" 
    alt="Menu expand"
    class="side-arrow"
    {{!-- onmouseover= {{{openNav}}} --}}
/>

<div id="rightMain" class="right-main">
    <div>
        <h2> Welcome Back</h2>
    </div>
=======

>>>>>>> 9e4420d82f307fa322da324e4a43d3b1a9cc4568
</div>
