 
 
 <video playsinline autoplay muted loop poster="" id="bgvid">
    <source src="../assets/images/homepage-video.mp4" type="video/mp4">
  </video>

<div class="view">

  <header class="homepage-logo">
    <img class="logo" src="../assets/images/usgs_logo.png" alt="USGS logo white">
    <button class="button-24" role="button">LOGIN</button>
  </header>


</div>
