{{! First thing a user who is not logged in will see. Homepage }}

<video playsinline autoplay muted loop poster="" id="bgvid">
  <source src="../assets/images/homepage-video.mp4" type="video/mp4" />
</video>

<div class="view">

  <div class="homepage-nav">
    
    <div class="left-logo">
      <img
        class="logo"
        src="../assets/images/usgs_logo.png"
        alt="USGS logo white"
      />
    </div>

    <div class="right-buttons">
      <button 
        id="loginBtn" 
        class="button-1" 
        role="button"
        onclick="displayLogin()">
        LOGIN</button>

      <button 
      id="signUpBtn" 
      class="button-1" 
      role="button"
      onclick="displayLogin()">
      SIGN UP</button>
    </div>

    <div id="login">

      <div class="home-login-container">
        <form>
          <input type="text" class="email" placeholder="EMAIL" id="email-login" />
          <input type="password" class="password" placeholder="PASSWORD" id="password-login" />

              <button class="button-2" role="button" id="login-btn">LOGIN</button>

        </form>
      </div>

      <div class="home-signup-container">
        <form>
          <input type="text" class="first-name" placeholder="FIRST NAME" id="first-name-signup" />
          <input type="text" class="last-name" placeholder="LAST NAME" id="last-name-signup" />
          <input type="text" class="office" placeholder="OFFICE" id="office-signup" />
          <input type="text" class="email" placeholder="EMAIL" id="email-signup" />
          <input type="password" class="password" placeholder="PASSWORD" id="password-signup" />

          <button id="newLogin" class="button-2" role="button">SIGN UP</button>

        </form>
      </div>

    </div>

  </div>

</div>

<script src="../js/login.js"></script>