<div id="sideNav" class="side-nav">
    <h2>USGS (logo)</h2>
        <ul>
            <li><a href="">WEEKLY REPORT</a></li>
            <li><a href="">ACHIEVEMENTS</a></li>
            <li><a href="">CONGRESS</a></li>
            <li><a href="">MEDIA</a></li>
            <li><a href="">MEETINGS</a></li>
            <li><a href="">PUBLICATIONS</a></li>
            <li><a href="">SEARCH</a></li>
        </ul>
</div>

<img src="../assets/images/favpng_arrow-button-icon.png" 
    alt="Menu expand"
    class="side-arrow"
    {{!-- onmouseover= {{{openNav}}} --}}
/>

<div id="rightMain" class="right-main">
    <div>
        <h2> Welcome Back</h2>
    </div>
</div>
