{{! First thing a user who is not logged in will see. Homepage }}

<video playsinline autoplay muted loop poster="" id="bgvid">
  <source src="../assets/images/homepage-video.mp4" type="video/mp4" />
</video>

<div class="view">

  {{!-- <header class="homepage-logo"> --}}

    <div class="square">
      <img
        id="square-home-pos"
        class="square-home"
        src="../assets/images/usgs-image2-small.jpg"
      />
      <img
        class="logo"
        src="../assets/images/usgs_logo.png"
        alt="USGS logo white"
      />
    </div>

    <div class="square-1">
      <img
        id="square1-home-pos1"
        class="square-home"
        src="../assets/images/usgs-image-small.jpg"
      />
      <button id="loginBtn" class="button-1" role="button">LOGIN</button>
    </div>

    <div class="square-2">
      <img
        id="square1-home-pos2"
        class="square-home"
        src="../assets/images/usgs-image1-small.jpg"
      />
      <button id="signUpBtn" class="button-1" role="button">SIGN UP</button>
    </div>

    <div id="login">

      <div class="home-login-container">
        <form>
          <input type="text" class="email" placeholder="EMAIL" />
          <input type="password" class="password" placeholder="PASSWORD" />

          <button id="existLogin" class="button-2" role="button">LOGIN</button>

        </form>
      </div>

      <div class="home-signup-container">
        <form>
          <input type="text" class="first-name" placeholder="FIRST NAME" />
          <input type="text" class="last-name" placeholder="LAST NAME" />
          <input type="text" class="office" placeholder="OFFICE" />
          <input type="text" class="email" placeholder="EMAIL" />
          <input type="password" class="password" placeholder="PASSWORD" />

          <button id="newLogin" class="button-2" role="button">SIGN UP</button>

        </form>
      </div>

    </div>

  {{!-- </header> --}}

</div>