 <div class="home-login-container">
    <form>
      <h2>LOGIN</h2>
      <input type="text" class="email" placeholder="EMAIL">
      <input type="password" class="password" placeholder="PASSWORD">
    </form>
  </div>