<div id="rightMain" class="dash-main-report">

<div class="right-buttons2 nav-pills">
        <a href="../dashboard" class="nav-link" id="dashboard-link">
        <img src="../assets/images/user-icon.png" alt="usgs logo" class="user-icon-small">
        </a>
</div>

{{>navigation}}

<section id="report">

<div class="page-header container" id="Media-Head">
        <h1 class="report-heading">Media Interactions</h1>
        <div class="entries-container">
            {{#each mediaInteractions}}
                {{>media-details}}
            {{/each}}
        </div>
</div>

</section>

<script src="../js/navbar.js"></script>

</div>