{{!-- <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" id="danHeader">
    <a href="https://www.usgs.gov/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="../assets/images/usgs_logo.png" alt="usgs logo" class="header-image">
    </a>
    
    <ul class="nav nav-pills">
      
      <li class="nav-item"><a href="../dashboard" class="nav-link" id="dashboard-link">Dashboard</a></li>
    </ul>
</header> --}}

{{>navigation}}

<section id="report">

<div class="page-header container" id="Meeting-Head">
    <h2 class="report-heading">Upcoming Meetings, Events, or Scientific Achievements</h2>
    <div class="entries-container">
        {{#each meetings}}
            {{>meeting-achievement-details}}
        {{/each}}
    </div>
</div>
</section>
