<div id="rightMain" class="dash-main-report">

<div class="right-buttons2 nav-pills">
        <a href="../dashboard" class="nav-link" id="dashboard-link">
        <img src="../assets/images/user-icon.png" alt="usgs logo" class="user-icon-small">
        </a>
    </div>

{{>navigation}}

<section id="report">

<div class="page-header container" id="Pub-Head">
        <h1 class="report-heading">Upcoming Significant Publications or Science Products (not yet published)</h1>
        <div class="entries-container">
            {{#each publications}}
                {{>publication-details}}
            {{/each}}
        </div>
</div>

</section>

<script src="../js/navbar.js"></script>
</div>