<div id="rightMain" class="dash-main-report">

   <div class="right-buttons2 nav-pills">
      <button class="button-3" id="weeklyPDF", type="submit">CREATE PDF</button>
        <a href="../dashboard" class="nav-link" id="dashboard-link">
        <img src="../assets/images/user-icon.png" alt="usgs logo" class="user-icon-small">
        </a>
    </div>

{{>navigation}}

<section id="weekly-report">
    <div class="page-header container" id="Pub-Head">
        <h1 class="report-heading">Upcoming Significant Publications or Science Products (not yet published)</h1>
        <div class="entries-container">
            {{#each publications}}
                {{>publication-details}}
            {{/each}}
        </div>
    </div>
    <div class="page-header container" id="Meeting-Head">
        <h1 class="report-heading">Upcoming Meetings, Events, or Scientific Achievements</h1>
        <div class="entries-container">
            {{#each meetings}}
                {{>meeting-achievement-details}}
            {{/each}}
        </div>
    </div>
    <div class="page-header container" id="Media-Head">
        <h1 class="report-heading">Media Interactions</h1>
        <div class="entries-container">
            {{#each mediaInteractions}}
                {{>media-details}}
            {{/each}}
        </div>
    </div>
    <div class="page-header container" id="FTR-Head">
        <h1 class="report-heading">For the Record</h1>
        <div class="entries-container">
            {{#each records}}
                {{>ftr-details}}
            {{/each}}
        </div>
    </div>
    <div class="page-header container" id="Con-Head">
        <h1 class="report-heading">Congressional Interactions</h1>
        <div class="entries-container">
            {{#each conInteractions}}
                {{>congress-details}}
            {{/each}}
        </div>
    </div>
</section>

</div>