/* Mobile- 360x640
Tablet- 768x1024 (51.43%)
Desktop/laptop- 1366x768 (22.98%)
 */

:root {
    --green: rgb(85, 141, 41);
    --main-font: 'Cantarell', sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.video-home-nav {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 30px;
  flex-wrap: wrap;
}

.left-logo {
  flex: 1 0 30%;
  justify-content:flex-start;
}

.right-buttons {
  display: flex;
  flex: 1 0 70%;
  height: auto;
  flex-flow: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logo {
  flex-grow: inherit;
  height: auto;
  width: 100%;
  min-width: 160px;
  max-width: 280px;
}

#loginBtn {
  width: 145px;
  font-size: 23px;
  color: var(--green);
  background-color: rgba(255, 255, 255, .6);
  margin: 10px 8px 15px 8px;
}

#signUpBtn {
  width: 145px;
  font-size: 23px;
  color: var(--green);
  background-color: rgba(255, 255, 255, .6);
  margin: 10px 8px 15px 8px;
}

#loginBtn:hover {
  background-color: rgba(255, 255, 255, .2);
  color: white;
}

#signUpBtn:hover {
  background-color: rgba(255, 255, 255, .1);
  color: white;
}

button {
  background-color:rgba(255, 255, 255, .5);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Cantarell', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin-right: 40px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 55px;
  width:115px;
  
}

.button-1:hover,
.button-1:active {
  background-color: initial;
  background-position: 0 0;
  border: 1px solid white;
}
  
.button-1:active {
  opacity: .5;
}

.button-2 {
  background-color:rgba(85, 141, 41, 0.1);
  border-radius: 15px;
  color: var(--green);
  font-size: 16px;
  margin-top: 18px;
  height: 45px;
  width:105px;
}

.button-2:hover,
.button-2:active {
  background-color: initial;
  background-position: 0 0;
  border: 1px solid var(--green);
}

.button-2:active {
  opacity: .5;
}

.button-3 {
  background-color:rgba(85, 141, 41, 0.1);
  border-radius: 15px;
  color: var(--green);
  height: 80px;
  width: 200px;
  margin: 0px;
}

.button-3:hover,
.button-3:active {
  background-color: initial;
  background-position: 0 0;
  border: 1px solid var(--green);
}

.button-3:active {
  opacity: .5;
}

#login {
  display: flex;
  height: 300px;
  width: 768px;
  border-color: red;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
}

.home-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 350px;
  border-radius: 40px;
  background-color:rgba(255, 255, 255, .4);
  padding: 40px;
}

.home-signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 350px;
  border-radius: 40px;
  background-color:rgba(255, 255, 255, .4);
  padding: 40px;
}

#login-btn {
  color: var(--green);
  border: 1px solid var(--green);
  border-width: 2px;
  width: 160px;
  background-color: rgba(255, 255, 255, .6);
}

#newLogin {
  color: var(--green);
  border: 1px solid var(--green);
  border-width: 2px;
  width: 160px;
  background-color: rgba(255, 255, 255, .6);
}

input {
  display:block;
  margin-top: 8px;
  height: 28px;
  width: 260px;
}

.user-icon {
  height: 500px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-family: var(--main-font);
  color: grey;
  text-align: center;
}

h2.welcome {
  padding: 10px;
  text-transform: uppercase;
}

.logo-nav {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 250px;
  height: auto;
}

.nav-icon {
  height: 40px;
  width: auto;
  margin-right: 8px;
  display:inline-block;
}

.side-nav {
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(85, 141, 41);
  margin-left: -320px;
  transition: 0.5s;
  z-index: 1;
}

.side-nav ul{
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-left: 20px;
}

.side-nav li{
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 20px;
  display: block;
  color: white;
  font-family: var(--main-font);

}

.side-arrow {
  height: 50px;
  width:auto;
  transition: 0.5s;
  z-index: 1;
}

.right-main {
  transition: 0.5s;
  padding-top: 10px;
  /* padding-left: 10px; */
  height: auto;
  width: 100vw;
  align-content: center;
  justify-content: space-between;
}

.dash-main {
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  padding-top: 10px;
  height: auto;
  width: fit-content;
  align-content: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.user-icon {
  flex: 1 0 100%;
}

.user-welcome {
  flex: 1 0 100%;
  padding: 20px;
}

.dashboard-buttons {
  flex: 1 0 100%;
  max-width: 550px;
}

.form-body {
  width: 700px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.accordian-button {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}

.accordion-button:not(.collapsed) {
  color: rgb(85, 141, 41);
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
  z-index: 3;
  border-color: rgb(85, 141, 41);
  background-color: rgba(85, 141, 41, 0.1);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(85, 141, 41, 0.2);
}

h3.card-title {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 16px;
}





/* This is for phone viewing */
@media screen and (max-width: 750px) {
  .left-logo {
    flex: 1 0 100%;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    height: auto;
  }

  .left-logo {
    display: flex;
    justify-content:center;
  }

  .right-buttons {
    display: flex;
    flex: 1 0 100%;
    height: fit-content;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 40px;
  }
}