/* Mobile- 360x640
Tablet- 768x1024 (51.43%)
Desktop/laptop- 1366x768 (22.98%)
 */

:root {
  --green: rgb(85, 141, 41);
}

body {
  font-family: 'Cantarell', sans-serif;
}	

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.view {
  display: grid;
  height: 768px;
  width: 1024px;
  grid-template-columns: 1fr 1fr 1fr 256px 1fr 256px 256px 1fr 1fr;
  /* grid-template-columns: 115px 256px 55px 256px 256px 85px; */
}

.square-home {
  width: 266px;
  position: absolute;
}

.square {
  grid-column: 4;
  top: 50%;
  left: 50%;
  align-items: center;
  margin-top: 155px;
}

.square-1 {
  grid-column: 6;
  top: 50%;
  left: 50%;
  align-items: center;
  margin-top: 441px;
}

.square-2 {
  grid-column: 7;
  top: 50%;
  left: 50%;
  align-items: center;
  margin-top: 185px;
}

/* .homepage-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.logo {
  height: 80px;
    width: auto;
    position: absolute;
    margin-top: 90px;
    margin-left: 20px;
}

#loginBtn {
  position: absolute;
  margin-top: 110px;
  margin-left: 50px;
  width: 155px;
  font-size: 23px;
  color: black;
  background-color: rgba(255, 255, 255, .6);
}

#signUpBtn {
  position: absolute;
  margin-top: 110px;
  margin-left: 50px;
  width: 155px;
  font-size: 23px;
  color: black;
  background-color: rgba(255, 255, 255, .6);
}

#loginBtn:hover {
  background-color: rgba(255, 255, 255, .2);
  color: white;
}

#signUpBtn:hover {
  background-color: rgba(255, 255, 255, .1);
  color: white;
}

.button-1 {
    background-color:rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    margin-right: 40px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    height: 55px;
    width:115px;
    
  }
  
.button-1:hover,
.button-1:active {
  background-color: initial;
  background-position: 0 0;
  border: 1px solid white;
}
  
.button-1:active {
  opacity: .5;
}

.button-2 {
  background-color:rgba(85, 141, 41, 0.1);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--green);
  cursor: pointer;
  display: inline-block;
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin-top: 18px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 45px;
  width:105px;
  
}

.button-2:hover,
.button-2:active {
  background-color: initial;
  background-position: 0 0;
  border: 1px solid var(--green);
}

.button-2:active {
  opacity: .5;
}

.button-3 {
  background-color:rgba(85, 141, 41, 0.1);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--green);
  cursor: pointer;
  display: inline-block;
  font-family: 'Cantarell', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 80px;
  width: 275px;
}

.button-3:hover,
.button-3:active {
  background-color: initial;
  background-position: 0 0;
  border: 1px solid var(--green);
}

.button-3:active {
  opacity: .5;
}

#login {
  display: flex;
  height: 300px;
  width: 768px;
  border-color: red;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
}

.home-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 350px;
  border-radius: 40px;
  background-color:rgba(255, 255, 255, .4);
  padding: 40px;
}

.home-signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 350px;
  border-radius: 40px;
  background-color:rgba(255, 255, 255, .4);
  padding: 40px;
}

#login-btn {
  color: var(--green);
  border: 1px solid var(--green);
  border-width: 2px;
  width: 160px;
  background-color: rgba(255, 255, 255, .6);
}

#newLogin {
  color: var(--green);
  border: 1px solid var(--green);
  border-width: 2px;
  width: 160px;
  background-color: rgba(255, 255, 255, .6);
}

input {
  display:block;
  margin-top: 8px;
  height: 28px;
  width: 260px;
}

h2 {
  font-family: 'Cantarell', sans-serif;
  color: grey;
  text-align: center;
}

h2.welcome {
  padding: 10px;
}

.side-nav {
  height: 100%;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(85, 141, 41);
  margin-left: -300px;
  transition: 0.5s;
  z-index: 1;
}

.side-nav ul{
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-left: 20px;
}

.side-nav li{
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 20px;
  display: block;
  color: white;
  font-family: 'Cantarell', sans-serif;

}

.side-arrow {
  height: 50px;
  width:auto;
}

.right-main {
  transition: 0.5s;
  padding-top: 10px;
  /* padding-left: 10px; */
  height: auto;
  width: 1020px;
  align-content: center;
  justify-content: space-between;
}

.expand-arrow {
  transition: 0.5s;
  position: fixed;
  bottom: 50%;
}

.form-body {
  width: 700px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.accordian-button {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}

.accordion-button:not(.collapsed) {
  color: rgb(85, 141, 41);
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
  z-index: 3;
  border-color: rgb(85, 141, 41);
  background-color: rgba(85, 141, 41, 0.1);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(85, 141, 41, 0.2);
}

.user-icon {
  height: 500px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  display: flex;
  justify-content: space-evenly;
}

#danHeader {
  background-color: var(--green);
}



/* This is for desktop viewing */
@media screen and (min-width: 1025px)
   {
    .view {
      display: grid;
      /* height: 100vh; */
      width: 100vw;
      grid-template-columns: 10px 1fr 1fr 300px 1fr 300px 300px 1fr 1fr;
    }
    
    .square-home {
      display: flex;
      width: 300px;
      height: auto;
      position: absolute;
    }
    
    .square {
      grid-column: 4;
      top: 50%;
      left: 50%;
      align-items: center;
      margin-top: 100px;
    }
    
    .square-1 {
      grid-column: 6;
      top: 50%;
      left: 50%;
      align-items: center;
      margin-top: 440px;
    }
    
    .square-2 {
      grid-column: 7;
      top: 50%;
      left: 50%;
      align-items: center;
      margin-top: 140px;
    }
    
    /* .homepage-logo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    } */
    
    .logo {
      height: 92px;
        width: auto;
        position: absolute;
        margin-top: 105px;
        margin-left: 30px;
    }

    #loginBtn {
      position: absolute;
      margin-top: 140px;
      margin-left: 70px;
      width: 155px;
      font-size: 23px;
      color: black;
      background-color: rgba(255, 255, 255, .6);
    }
    
    #signUpBtn {
      position: absolute;
      margin-top: 140px;
      margin-left: 70px;
      width: 155px;
      font-size: 23px;
      color: black;
      background-color: rgba(255, 255, 255, .6);
    }
    

    
} 

/* big monitor */
@media screen and (min-width: 1330px)
   {
    .view {
      display: grid;
      /* height: 100vh; */
      width: 100vw;
      grid-template-columns: 10px 1fr 1fr 375px 1fr 375px 375px 1fr 1fr;
    }
    
    .square-home {
      display: flex;
      width: 375px;
      height: auto;
      position: absolute;
    }
    
    .square {
      grid-column: 4;
      top: 50%;
      left: 50%;
      align-items: center;
      margin-top: 100px;
    }
    
    .square-1 {
      grid-column: 6;
      top: 50%;
      left: 50%;
      align-items: center;
      margin-top: 515px;
    }
    
    .square-2 {
      grid-column: 7;
      top: 50%;
      left: 50%;
      align-items: center;
      margin-top: 140px;
    }
    
    /* .homepage-logo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    } */
    
    .logo {
      height: 110px;
        width: auto;
        position: absolute;
        margin-top: 135px;
        margin-left: 40px;
    }

    #loginBtn {
      position: absolute;
      margin-top: 160px;
      margin-left: 70px;
      width: 240px;
      font-size: 28px;
      color: black;
      background-color: rgba(255, 255, 255, .6);
    }
    
    #signUpBtn {
      position: absolute;
      margin-top: 140px;
      margin-left: 70px;
      width: 240px;
      font-size: 28px;
      color: black;
      background-color: rgba(255, 255, 255, .6);
    }
    

    
} 